@use "mixins" as mixin;

.header {
  display: flex;
  flex-direction: column;

  &__details {
    padding: var(--spacing-200);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    width: 107.15px;
    height: 20px;
  }

  &__text {
    @include mixin.text-6;
    color: var(--neutral-200);
  }
}

.live-markets {
  background-color: white; // Placeholder

  &__heading {
    @include mixin.text-6;
    color: var(--neutral-900);
    background-color: var(--lime-500);
    padding-block: var(--spacing-150);
    padding-inline: var(--spacing-100);
    inline-size: fit-content;
    display: flex;
    align-items: center;
    gap: var(--spacing-100);

    &-point {
      background-color: var(--neutral-900);
      border-radius: var(--radius-full);
      width: 6px;
      height: 6px;
    }
  }
}

.main {
  padding-block: var(--spacing-400);
  padding-inline: var(--spacing-200);
  inline-size: 100dvi;

  &__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-500);
  }
}

.converter {
  &__heading {
    @include mixin.text-2;
    color: var(--neutral-50);
    margin-block-end: var(--spacing-200);
  }

  &__main {
    background-color: var(--neutral-700);
    border-start-start-radius: var(--radius-20);
    border-start-end-radius: var(--radius-20);
    padding: var(--spacing-200);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-200);
  }

  &__box {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-200);
    padding: var(--spacing-200);
    border: 1px solid var(--neutral-500);
    background-color: var(--neutral-600);
    border-radius: var(--radius-16);
    inline-size: 100%;
  }

  &__subheading {
    @include mixin.text-4;
    color: var(--neutral-100);
  }

  &__options {
    display: flex;
    justify-content: space-between;
    align-items: end;
    height: 43px;
  }

  &__input {
    all: unset;
    @include mixin.text-1-tablet;
    color: var(--neutral-50);
    min-width: 0;
  }

  &__output {
    @include mixin.text-1-tablet;
    color: var(--lime-500);
    align-self: center;
  }

  &__switch {
    inline-size: fit-content;
    background-color: var(--neutral-600);
    border: 1px solid var(--neutral-500);
    border-radius: var(--radius-8);
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__footer {
    border-block-start: 1px dashed var(--neutral-500);
    background-color: var(--neutral-700);
    border-end-start-radius: var(--radius-20);
    border-end-end-radius: var(--radius-20);
    block-size: fit-content;
    padding: var(--spacing-200);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-200);
    align-items: center;
  }

  &__rate {
    @include mixin.text-6;
    color: var(--neutral-50);
  }

  &__controls {
    display: flex;
    gap: var(--spacing-100);
  }

  &__favorite {
    all: unset;
    @include mixin.text-5-medium;
    color: var(--neutral-900);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-100);
    border-radius: var(--radius-8);
    background-color: var(--lime-500);
    padding-inline: var(--spacing-150);
    padding-block: var(--spacing-100);
  }

  &__log {
    all: unset;
    @include mixin.text-5-medium;
    border: 1px solid var(--lime-500);
    color: var(--neutral-50);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius-8);
    padding-inline: var(--spacing-150);
    padding-block: var(--spacing-100);
  }

  &__select {
    &-button {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--neutral-500);
      border: 1px solid var(--neutral-400);
      color: var(--neutral-50);
      padding: var(--spacing-125);
      border-radius: var(--radius-8);
      @include mixin.text-4;
    }

    &--output {
      align-self: center;
    }
  }
}

.stats {
  inline-size: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-200);

  &__select {
    &-button {
      all: unset;
      box-sizing: border-box;
      inline-size: 100%;
      border-radius: var(--radius-8);
      padding-inline: var(--spacing-150);
      padding-block: var(--spacing-100);
      background-color: var(--neutral-700);
      border: 1px solid var(--neutral-400);
      @include mixin.text-3;
      color: var(--neutral-50);
      display: flex;
      justify-content: space-between;
      align-items: start;
    }
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: var(--spacing-125);
  }

  &__card {
    background-color: var(--neutral-700);
    border: 1px solid var(--neutral-600);
    padding-inline: var(--spacing-250);
    padding-block: var(--spacing-150);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-200);
    border-radius: var(--radius-16);

    &-heading {
      @include mixin.text-4;
      color: var(--neutral-100);
    }

    &-details {
      @include mixin.text-2;
      color: var(--neutral-50);
      display: flex;
      align-items: center;
      gap: var(--spacing-100);

      > span {
        font-size: 14px;
      }

      &--positive {
        color: var(--green-500);
      }
    }
  }
}
