/* lexend-deca-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/lexend-deca-v25-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* big-shoulders-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Big Shoulders";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/big-shoulders-v4-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
:root {
  /* Colors */
  --gold-500: hsl(31, 77%, 52%);
  --cyan-800: hsl(184, 100%, 22%);
  --green-950: hsl(179, 100%, 13%);
  --t-white: hsla(0, 0%, 100%);
  --gray-100: hsl(0, 0%, 95%);
  /* Sizes */
  --xxs: 0.25rem;
  --xs: 0.5rem;
  --sm: 0.75rem;
  --md: 1rem;
  --lg: 1.25rem;
  --xl: 1.5rem;
  --xxl: 1.75rem;
  --max: 2rem;
  /* Weights 400, 700 */
  --font-family-main: "Lexend Deca", sans-serif, system;
  --font-family-title: "Big Shoulders", sans-serif, system;
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  inline-size: 100dvi;
  min-block-size: 100dvb;
}

body {
  background-color: var(--gray-100);
  padding-inline: var(--xl);
  padding-block: 5.5rem;
}

main {
  border-radius: var(--xs);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.card {
  block-size: auto;
  padding: 3rem;
  display: flex;
  flex-direction: column;
}
.card__image {
  margin-block-end: var(--max);
}
.card__title {
  font-family: var(--font-family-title);
  font-weight: 700;
  color: var(--gray-100);
  font-size: 2.3rem;
  letter-spacing: -1px;
  margin-block-end: var(--xl);
}
.card__description {
  font-family: var(--font-family-main);
  font-weight: 400;
  color: var(--t-white);
  font-size: 0.95rem;
  line-height: 1.6;
  margin-block-end: 1.6rem;
}
.card--sedans {
  background-color: var(--gold-500);
}
.card--suvs {
  background-color: var(--cyan-800);
}
.card--luxury {
  background-color: var(--green-950);
}

.primary-button {
  all: unset;
  cursor: pointer;
  width: -moz-max-content;
  width: max-content;
  background-color: var(--t-white);
  border-radius: 999px;
  padding-block: 0.6rem;
  padding-inline: 1.8rem;
  font-family: var(--font-family-main);
  font-size: 0.95rem;
  border: 2px solid var(--t-white);
  transition: background-color 0.2s ease-out, color 0.2s ease-out;
}
.primary-button:hover {
  background-color: transparent;
  color: var(--t-white);
}
.primary-button--sedans {
  color: var(--gold-500);
}
.primary-button--suvs {
  color: var(--cyan-800);
}
.primary-button--luxury {
  color: var(--green-950);
}

@media (width >= 58rem) {
  body {
    display: flex;
    justify-content: center;
    padding-block-start: 10.6rem;
  }
  main {
    flex-direction: row;
    align-self: flex-start;
  }
  .card {
    max-inline-size: 19.2rem;
  }
  .card__description {
    padding-block-end: 3.75rem;
  }
}/*# sourceMappingURL=index.css.map */