@mixin text-style($size, $weight, $height, $color) {
  font-size: $size;
  font-weight: $weight;
  line-height: $height;
  color: $color;
}


.grid {
  &__img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block; /* Fix gap under images */
  }
}


.header {
  inline-size: 100dvi;
  block-size: 9.5dvb;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: end;
  padding-inline: var(--xl);

  &__logo {
    order: 1;
    position: absolute;
  }

  &__menu-button {
    all: unset;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-inline-end: auto;
  }
}


.nav {
  position: absolute;
}


.hero {
  position: relative;

  &__slide {
    padding-inline: var(--max);
    padding-block: calc(var(--max) * 1.85);
    display: flex;
    flex-direction: column;
    gap: var(--md);
  }

  &__heading {
    @include text-style(2.4rem, 600, 0.95, hsl(var(--black)));
    letter-spacing: -1px;
  }

  &__description {
    @include text-style(1rem, 600, 1.4, hsl(var(--grey-500)));
    letter-spacing: -0.5px;
  }

  &__CTA {
    display: flex;
    align-items: center;
    gap: var(--md);
    padding-block: var(--xl) var(--sm);
  }

  &__link {
    all: unset;
    @include text-style(0.9rem, 600, 1, hsl(var(--black)));
    letter-spacing: 12.75px;
  }
}


.aside {
  padding-inline: var(--max);
  padding-block: calc(var(--max) * 1.7) calc(var(--max) * 1.3);
  display: flex;
  flex-direction: column;
  gap: var(--lg);

  &__heading {
    @include text-style(0.8rem, 700, 1, hsl(var(--black)));
    letter-spacing: 6.5px;
  }

  &__description {
    @include text-style(0.95rem, 500, 1.45, hsl(var(--grey-500)));
  }
}

.slider {
  position: absolute;
  background-color: hsl(var(--black));
  inset-inline-end: 0;
  inset-block-start: calc(-1.95rem - var(--xl));

  &__button {
    all: unset;
    padding-inline: var(--lg);
    padding-block: var(--sm);
    block-size: 1.95rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__icon {
    transform: scale(0.65);
  }
}