/* Mixins + Functions */

@mixin text-style($weight, $height, $color) {
  font-weight: $weight;
  line-height: $height;
  color: $color;
}

/* Clamp value calculator (only one unit type) */

@function fluid-type($min-vw, $max-vw, $min-value, $max-value) {
	$factor: 1 / ($max-vw - $min-vw) * ($max-value - $min-value);
	$calc-value: unquote('#{ $min-value - ($min-vw * $factor) } + #{100vw * $factor}');

	@return $calc-value;
}

/* Breakpoints + Sizes */

$tablet-bp: 50rem;
$desktop-bp: 90rem;
$phone-width: 23rem;
$tablet-width: 48rem;
$desktop-width: 90rem;
$max-width: 120rem;

/* These can be separated into different files */

/* Components */

.grid {
  &__img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block; /* Fix gap under images */
  }

  &__decor {
    display: none;
  }

  @media (min-width: $tablet-bp) {
    display: grid;
    grid-template-rows: repeat(auto, 5);
    grid-template-columns: auto auto;

    &__picture {
      grid-row: 1 / 2;
      grid-column: 1 / 3;
    }

    &__image--dark {
      grid-row: 3 / 4;
      grid-column: 1 / 2;
    }

    &__image--light {
      grid-row: 3 / 4;
      grid-column: 2 / 3;
    }
  }

  @media (min-width: $desktop-bp) {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 29dvi 29.5dvi 11dvi 30.5dvi;

    &__picture {
      grid-row: 1 / 2;
      grid-column: 1 / 3;
    }

    &__img--dark {
      grid-row: 2 / 3;
      grid-column: 1 / 2;
    }

    &__img--light {
      grid-row: 2 / 3;
      grid-column: 4 / 5;
    }
  }
}


.header {
  inset: 0;
  inline-size: 100dvi;
  block-size: max(4rem, 4vw);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-inline: var(--xl);

  &__logo {
    order: 1;
    position: absolute;
  }

  &__menu-button {
    all: unset;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-inline-end: auto;
  }

  @media (min-width: $tablet-bp) {
    padding-inline: 3rem;

    &__logo {
      transform: scale(1.5);
    }

    &__menu-button {
      transform: scale(1.5);
    }
  }

  @media (min-width: $desktop-bp) {
    justify-content: flex-start;
    padding-inline: 4rem;
    block-size: 5rem;

    &__logo {
      transform: unset;
    }

    &__menu-button {
      display: none;
    }
  }
}


.nav {
  background-color: hsl(var(--white));
  inset: 0;
  inline-size: 100dvi;
  block-size: max(7rem, 20vw);
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: var(--xl);
  z-index: 2;

  &__close-button {
    all: unset;
    cursor: pointer;
  }

  &__menu {
    list-style: none;
    display: flex;
    gap: 2.1rem;

    &-item {
      @include text-style(600, 1, hsl(var(--black)));
      font-size: clamp(1rem, fluid-type($phone-width, $tablet-width, 1rem, 1.8rem), 1.8rem);
      letter-spacing: -1px;
      cursor: pointer;
    }
  }

  @media (min-width: $tablet-bp) {
    inline-size: 10rem;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    padding-block-start: 4rem;

    &__menu {
      flex-direction: column;
      gap: 5rem;

      &-item {
        text-align: center;
      }
    }

    &__close-button {
      transform: scale(1.5);
    }
  }

  @media (min-width: $desktop-bp) {
    background-color: transparent;
    border: none;
    padding-block: 0;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    block-size: 9rem;
    padding-inline-start: 11.5rem;

    &__menu {
      flex-direction: row;
      gap: 2rem;

      &-item {
        position: relative;
        font-size: 1rem;
        font-size: clamp(1rem, fluid-type($desktop-width, $max-width, 1rem, 1.5rem), 1.5rem);
        color: hsl(var(--white));
        display: flex;
        justify-content: center;

        &::before {
          content: "";
          position: absolute;
          bottom: -8px;
          width: 0;
          height: 2px;
          background-color: hsl(var(--white));
          transition: width 0.2s ease-out;
        }

        &:hover::before {
          width: 50%;
        }
      }
    }
  }
}


.hero {
  position: relative;
  padding-inline: clamp(2rem, fluid-type($phone-width, $desktop-bp, 2rem, 6rem), 6rem);
  padding-block: clamp(3.7rem, fluid-type($phone-width, $desktop-bp, 3.7rem, 7.5rem), 7.5rem);
  background-color: hsl(var(--white));

  &__slide {
    display: flex;
    flex-direction: column;
    gap: var(--md);
  }

  &__heading {
    @include text-style(600, 0.95, hsl(var(--black)));
    font-size: clamp(2.4rem, fluid-type($phone-width, $desktop-width, 2.4rem, 2.9rem), 2.9rem);
    letter-spacing: -1px;
  }

  &__description {
    @include text-style(600, 1.4, hsl(var(--grey-500)));
    font-size: clamp(0.99rem, fluid-type($phone-width, $tablet-width, 0.99rem, 1.3rem), 1.3rem);
    letter-spacing: -0.5px;
  }

  &__CTA {
    display: flex;
    align-items: center;
    gap: var(--md);
    padding-block: var(--xl) var(--sm);
    cursor: pointer;
    transition: opacity 0.2s ease-out;

    &:hover {
      animation: fadeMask 2s forwards;
    }
  }

  &__link {
    all: unset;
    @include text-style(600, 1, hsl(var(--black)));
    font-size: clamp(0.9rem, fluid-type($phone-width, $desktop-width, 0.9rem, 1rem), 1rem);
    letter-spacing: 12.75px;
  }

  @media (min-width: $tablet-bp) {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
  }

  @media (min-width: $desktop-bp) {
    grid-row: 1 / 2;
    grid-column: 3 / 5;

    &__heading {
      margin-block-end: var(--xs);
      font-size: clamp(2.9rem, fluid-type($desktop-width, $max-width, 2.9rem, 4.5rem), 4.5rem);
    }

    &__description {
      font-size: 1rem;
      font-size: clamp(1rem, fluid-type($desktop-width, $max-width, 1rem, 1.5rem), 1.5rem);
    }

    &__CTA {
      padding-block: clamp(0.25rem, fluid-type($desktop-width, $max-width, 0.25rem, 2rem), 2rem);
    }
    
    &__link {
      letter-spacing: 12px;
      font-size: clamp(1rem, fluid-type($desktop-width, $max-width, 1rem, 1.4rem), 1.4rem);
    }
  }
}


.aside {
  padding-inline: clamp(2rem, fluid-type($phone-width, $desktop-width, 2rem, 3rem), 3rem);
  padding-block: 3.4rem 2.6rem;
  display: flex;
  flex-direction: column;
  gap: var(--lg);

  &__heading {
    @include text-style(700, 1, hsl(var(--black))); 
    font-size: clamp(0.8rem, fluid-type($phone-width, $tablet-width, 0.8rem, 1.5rem), 1.5rem);
    letter-spacing: 6.5px;
  }

  &__description {
    @include text-style(500, 1.45, hsl(var(--grey-500)));
    font-size: clamp(0.95rem, fluid-type($phone-width, $tablet-width, 0.8rem, 1.5rem), 1.2rem);
  }

  @media (min-width: $tablet-bp) {
    grid-row: 4 / 5;
    grid-column: 1 / 3;

    &__heading {
      text-align: end;
    }
  }
  
  @media (min-width: $desktop-bp) {
    grid-row: 2 / 3;
    grid-column: 2 / 4;
    padding-block: 4.1rem;

    &__heading {
      font-size: 1rem;
      letter-spacing: 6.75px;
      text-align: start;
      font-size: clamp(1rem, fluid-type($desktop-width, $max-width, 1rem, 1.6rem), 1.6rem);
    }

    &__description {
      font-size: 0.95rem;
      font-size: clamp(0.95rem, fluid-type($desktop-width, $max-width, 0.95rem, 1.25rem), 1.25rem);
      margin-block-start: -0.4rem;
    }
  }
}


.slider {
  position: absolute;
  inset-inline-end: 0;
  display: flex;
  z-index: 2;

  &__button {
    all: unset;
    padding-inline: clamp(1.25rem, fluid-type($phone-width, $tablet-width, 1.25rem, 2rem), 2rem);
    block-size: clamp(3.5rem, fluid-type($phone-width, $tablet-width, 3.5rem, 5rem), 5rem);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(var(--black));
    cursor: pointer;
    transition: opacity 0.2s ease-out;
  }

  &__icon {
    transform: scale(0.7);
    stroke-width: 2px;
  }

  @media (min-width: $tablet-bp) {
    &__icon {
      transform: unset;
      stroke-width: 1.4px;
    }
  }

  @media (min-width: $desktop-bp) {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    position: static;
    block-size: fit-content;
    align-self: end;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    &__button {
      flex: 1;
      padding-block: clamp(0rem, fluid-type($desktop-width, $max-width, 0rem, 1rem), 1rem);

      &:hover {
      opacity: 0.75;
    }
    }
  }
}


.dimmer {
  position: absolute;
  background-color: hsl(var(--black) / 0.5);
  z-index: 1;
}


.fade-ltr {
  mask-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0));
  mask-size: 200% 100%;
}

@keyframes fadeMask {
  from {
    mask-position: 0% 0;
  }
  to {
    mask-position: -100% 0;
  }
}
