/* Mixins + Functions */

@mixin text-style($weight, $height, $color) {
  font-weight: $weight;
  line-height: $height;
  color: $color;
}

/* Clamp value calculator (only one unit type) */

@function fluid-type($min-vw, $max-vw, $min-value, $max-value) {
	$factor: 1 / ($max-vw - $min-vw) * ($max-value - $min-value);
	$calc-value: unquote('#{ $min-value - ($min-vw * $factor) } + #{100vw * $factor}');

	@return $calc-value;
}

/* Breakpoints + Sizes */

$desktop-bp: 90rem;
$phone-width: 23rem;
$tablet-width: 48rem;
$desktop-width: 90rem;
$max-width: 120rem;

/* These can be separated into different files but the project is too small */

/* Components */

.grid {
  &__img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block; /* Fix gap under images */
  }

  @media (min-width: $desktop-bp) {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 29dvi 29.5dvi 11dvi 30.5dvi;

    &__picture {
      grid-row: 1 / 2;
      grid-column: 1 / 3;
    }

    &__img--dark {
      grid-row: 2 / 3;
      grid-column: 1 / 2;
    }

    &__img--light {
      grid-row: 2 / 3;
      grid-column: 4 / 5;
    }
  }
}


.header {
  inset: 0;
  inline-size: 100dvi;
  block-size: 9.5dvb;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-inline: var(--xl);

  &__logo {
    order: 1;
    position: absolute;
  }

  &__menu-button {
    all: unset;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-inline-end: auto;
  }
}


.nav {
  background-color: hsl(var(--white));
  inset: 0;
  inline-size: 100dvi;
  block-size: 16.5dvb;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: var(--xl);
  z-index: 2;

  &__close-button {
    all: unset;
  }

  &__menu {
    list-style: none;
    display: flex;
    gap: 2.1rem;

    &-item {
      @include text-style(600, 1, hsl(var(--black)));
      font-size: clamp(1rem, fluid-type($phone-width, $tablet-width, 1rem, 1.8rem), 1.8rem);
      letter-spacing: -1px;
    }
  }
}


.hero {
  position: relative;
  padding-inline: clamp(2rem, fluid-type($phone-width, $desktop-bp, 2rem, 6rem), 6rem);
  padding-block: clamp(3.7rem, fluid-type($phone-width, $desktop-bp, 3.7rem, 7.5rem), 7.5rem);

  &__slide {
    display: flex;
    flex-direction: column;
    gap: var(--md);
  }

  &__heading {
    @include text-style(600, 0.95, hsl(var(--black)));
    font-size: clamp(2.4rem, fluid-type($phone-width, $desktop-width, 2.4rem, 2.9rem), 2.9rem);
    letter-spacing: -1px;
  }

  &__description {
    @include text-style(600, 1.4, hsl(var(--grey-500)));
    font-size: 1rem;
    letter-spacing: -0.5px;
  }

  &__CTA {
    display: flex;
    align-items: center;
    gap: var(--md);
    padding-block: var(--xl) var(--sm);
  }

  &__link {
    all: unset;
    @include text-style(600, 1, hsl(var(--black)));
    font-size: clamp(0.9rem, fluid-type($phone-width, $desktop-width, 0.9rem, 1rem), 1rem);
    letter-spacing: 12.75px;
  }

  @media (min-width: $desktop-bp) {
    grid-row: 1 / 2;
    grid-column: 3 / 5;

    &__heading {
      margin-block-end: var(--xs);
    }

    &__CTA {
      padding-block: var(--xxs);
    }
    
    &__link {
      letter-spacing: 12px;
    }
  }
}


.aside {
  padding-inline: clamp(2rem, fluid-type($phone-width, $desktop-width, 2rem, 3rem), 3rem);
  padding-block: 3.4rem 2.6rem;
  display: flex;
  flex-direction: column;
  gap: var(--lg);

  &__heading {
    @include text-style(700, 1, hsl(var(--black))); 
    font-size: 0.8rem;
    letter-spacing: 6.5px;
  }

  &__description {
    @include text-style(500, 1.45, hsl(var(--grey-500)));
    font-size: 0.95rem;
  }
  
  @media (min-width: $desktop-bp) {
    grid-row: 2 / 3;
    grid-column: 2 / 4;
    padding-block: 4.1rem;

    &__heading {
      font-size: 1rem;
      letter-spacing: 6.75px;
    }

    &__description {
      margin-block-start: -0.4rem;
    }
  }
}


.slider {
  position: absolute;
  inset-inline-end: 0;
  display: flex;
  z-index: 2;

  &__button {
    all: unset;
    padding-inline: var(--lg);
    block-size: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(var(--black));
    cursor: pointer;
    transition: opacity 0.2s ease-out;
  }

  &__icon {
    transform: scale(0.7);
    stroke-width: 2px;
  }

  @media (min-width: $desktop-bp) {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    position: static;
    block-size: fit-content;
    align-self: end;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    &__button {
      flex: 1;
      padding-block: clamp(1.5rem, fluid-type($desktop-width, $max-width, 1.5rem, 3rem), 3rem);

      &:hover {
      opacity: 0.75;
    }
    }

    &__icon {
      transform: unset;
      stroke-width: 1.4px;
    }
  }
}


.dimmer {
  position: absolute;
  background-color: hsl(var(--black) / 0.5);
  z-index: 1;
}