$colors: (
  white: 0 100% 100%,
  grey-500: 0 0% 63%,
  grey-800: 0 0% 27%,
  black: 0 0% 0%
);

$sizes: (
  xxs: 0.25rem,
  xs: 0.5rem,
  sm: 0.75rem,
  md: 1rem,
  lg: 1.25rem,
  xl: 1.5rem,
  xxl: 1.75rem,
  max: 2rem
);