@use 'fonts' as f;
@use 'variables' as var;
@use 'components';

:root {
  /* Colors */
  @each $color, $val in var.$colors {
    --#{$color}: #{$val};
  }

  /* Sizes */
  @each $size, $val in var.$sizes {
    --#{$size}: #{$val};
  }

  /* Typography (Weights: 500, 600, 700) */
  --font-sans: #{f.$font-sans};
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, .dimmer {
  inline-size: 100dvi;
  min-block-size: 100dvb;
}

html {
  font-family: var(--font-sans);
  font-size: 16px;
}

body {
  background-color: hsl(var(--white));
}

/* Utility Classes */

.hidden {
  display: none;
}