.main {
  &__heading {
    font-size: 2.5rem;
    line-height: 1.2;
    color: hsl(var(--rose-900));
    margin-block-end: var(--max);
  }
}

.product-card {
  &__wrapper {
    position: relative;
    margin-block-end: 2.2rem;
  }

  &__button {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    border-radius: 999px;
    border: 1px solid hsl(var(--rose-300));
    background-color: hsl(var(--white));
    font-weight: 600;
    color: hsl(var(--rose-900));
    overflow: hidden;
    width: 161px;
    font-size: 0.9rem;

    &.active {
      background-color: hsl(var(--red));
      border: none;
    }
  }

  &__add-to-cart {
    all: unset;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--xs);
    padding-block: 0.7rem;
    width: 161px;
  }

  &__quantity-selector {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: var(--xl);
    width: 161px;
    color: hsl(var(--white));
  }

  &__quantity-button {
    all: unset;
    cursor: pointer;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1;
    height: 44px;
    width: 44px;
  }

  &__icon {
    border-radius: 50%;
    border: 1px solid hsl(var(--white));
    height: 18px;
    width: 18px;
    padding: 2px;
  }

  &__img {
    inline-size: 100%;
    border-radius: var(--xs);

    &.active {
      border: 2px solid hsl(var(--red));
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
    gap: var(--xxs);
    margin-block-end: 1.65rem;
  }

  &__category {
    font-size: 0.9rem;
    color: hsl(var(--rose-500));
  }

  &__name {
    font-weight: 600;
    color: hsl(var(--rose-900));
  }

  &__price {
    font-weight: 600;
    color: hsl(var(--red) / 0.9);
    line-height: 1;
  }
}

.cart {
  background-color: hsl(var(--white));
  padding: var(--xl);
  margin-block-start: var(--max);
  border-radius: var(--md);

  &__heading {
    color: hsl(var(--red) / 0.9);
    font-weight: 700;
  }

  &__empty-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block-start: 2.3rem;
    gap: var(--sm);
  }

  &__img {
    width: 128px;
    height: auto;
  }

  &__description {
    font-size: 0.9rem;
    color: hsl(var(--rose-500));
    font-weight: 600;
    letter-spacing: -0.2px;
  }
}
