.main {
  &__heading {
    font-size: 2.5rem;
    line-height: 1.2;
    color: hsl(var(--rose-900));
    margin-block-end: var(--max);
  }
}

.product-card {
  &__wrapper {
    position: relative;
    margin-block-end: 2.2rem;
  }

  &__button {
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--sm);
    padding-inline: var(--xxl);
    gap: var(--xs);
    border-radius: 999px;
    border: 1px solid hsl(var(--rose-500));
    background-color: hsl(var(--white));
    font-weight: 600;
    color: hsl(var(--rose-900));
  }

  &__img {
    inline-size: 100%;
    border-radius: var(--xs);
  }

  &__details {
    display: flex;
    flex-direction: column;
    gap: var(--xxs);
    margin-block-end: 1.65rem;
  }

  &__category {
    font-size: 0.9rem;
    color: hsl(var(--rose-500));
  }

  &__name {
    font-weight: 600;
    color: hsl(var(--rose-900));
  }

  &__price {
    font-weight: 600;
    color: hsl(var(--red) / 0.9);
    line-height: 1;
  }
}

.cart {
  background-color: hsl(var(--white));
  padding: var(--xl);
  margin-block-start: var(--max);
  border-radius: var(--md);

  &__heading {
    color: hsl(var(--red) / 0.9);
    font-weight: 700;
  }

  &__empty-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block-start: 2.3rem;
    gap: var(--sm);
  }

  &__img {
    width: 128px;
    height: auto;
  }

  &__description {
    font-size: 0.9rem;
    color: hsl(var(--rose-500));
    font-weight: 600;
    letter-spacing: -0.2px;
  }
}
