/* kumbh-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/kumbh-sans-v27-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* kumbh-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/kumbh-sans-v27-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  /* Colors */
  --blue: 190 70% 60%;
  --orange: 26 100% 55%;
  --pale-orange: 25 100% 94%;
  --very-dark-blue: 220 13% 13%;
  --dark-grayish-blue: 219 9% 45%;
  --light-grayish-blue: 223 64% 98%;
  --white: 0 0% 100%;
  --black: 0 0% 0%; /* 75% opacity for lightbox bg */

  /* Typography */
  --font-sans: 'Kumbh Sans', system-ui, sans-serif;
  /* Weights: 400, 700 */

  /* Sizes */
  --xxs: 0.25rem;
  --xs: 0.5rem;
  --sm: 0.75rem;
  --md: 1rem;
  --lg: 1.25rem;
  --xl: 1.5rem;
  --xxl: 1.75rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  line-height: 0;
}

html, body, main, .dim-overlay {
  inline-size: 100dvi;
  min-block-size: 100dvb;
}

html {
  font-family: var(--font-sans);
  font-size: 16px;
}

body {
  position: relative;
  background-color: hsl(var(--white));
}

header {
  position: sticky;
  inset-block-start: 0;
  inline-size: 100dvi;
  z-index: 3;
}

.button {
  all: unset;
  cursor: pointer;
  background-color: hsl(var(--orange));
  inline-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: var(--lg);
  border-radius: var(--sm);
  color: hsl(var(--very-dark-blue));
  font-weight: 700;
  gap: var(--md);
  transition: background-color 0.3s ease-out, box-shadow 0.3s ease-out;
}

.button.button--primary:hover {
  background-color: hsl(var(--blue));
}

.button--shadow {
  box-shadow: 20px 20px 8px 0px hsl(var(--pale-orange));
}

.nav {
  background-color: hsl(var(--white));
  display: flex;
  flex-direction: row;
  padding: var(--lg);
  padding-inline: var(--xl);
  justify-content: space-between;
  align-items: center;
}

.nav__menu {
  position: fixed;
  background-color: hsl(var(--white));
  block-size: 100dvb;
  inline-size: 66dvi;
  inset-inline-start: 0;
  inset-block-start: 0;
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
  padding: var(--xl);
  list-style: none;
  z-index: 4;
}

.nav__menu-close-icon {
  margin-block-end: var(--lg);
}

.nav__menu-item {
  color: hsl(var(--very-dark-blue));
  text-decoration: none;
  font-weight: 700;
  font-size: 1.1rem
}

.button--menu {
  display: flex;
  gap: var(--md);
  align-items: center;
  padding-block-start: 0;
  padding-block-end: var(--xs);
  background: none;
  justify-content: start;
  inline-size: fit-content;
}

.button--close-menu {
  background: none;
  display: block;
  padding: 0;
  inline-size: fit-content;
}

.button--profile, .button--cart, .button--subtract, .button--add {
  padding: 0;
  background: none;
}

.nav__menu-icon {
  padding-block-start: var(--xxs);
  height: 19px;
}

.nav__profile {
  display: flex;
  align-items: center;
  gap: var(--lg);
}

.nav__pfp {
  width: 25px;
  height: auto;
}

.card__image-preview {
  position: relative;
}

.card__preview-image {
  width: 100dvi;
  height: 300px;
  object-fit: cover;
}

.button--previous, .button--next {
  background-color: hsl(var(--white));
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  inset-block-start: 50%;
  transform: translateY(-50%);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 0;
}

.button--previous {
  inset-inline-start: var(--md);
}

.button--next {
  inset-inline-end: var(--md);
}

.card__previous-image-icon, .card__next-image-icon {
  transform: scale(calc(2 / 3));
}

.product-card {
  padding: var(--xl);
  display: flex;
  flex-direction: column;
  gap: var(--sm);
}

.product-card__company-name {
  font-size: 0.75rem;
  font-weight: 700;
  color: hsl(var(--dark-grayish-blue));
  letter-spacing: 2px;
}

.product-card__heading {
  font-size: 1.75rem;
  line-height: 1.1;
  font-weight: 700;
  color: hsl(var(--very-dark-blue));
  margin-block-end: var(--xs);
}

.product-card__description {
  font-size: 0.95rem;
  color: hsl(var(--dark-grayish-blue));
  font-weight: 400;
  line-height: 1.6;
}

.product-card__price-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: var(--sm);
}

.product-card__discount-bundle {
  display: flex;
  gap: var(--sm);
}

.product-card__discounted-price {
  color: hsl(var(--very-dark-blue));
  font-weight: 700;
  font-size: 1.8rem;
  letter-spacing: 1px;
}

.product-card__discount {
  color: hsl(var(--light-grayish-blue));
  background-color: hsl(var(--very-dark-blue));
  height: max-content;
  padding-inline: 0.6rem;
  padding-block: 0.2rem;
  align-self: end;
  border-radius: 0.3rem;
  font-weight: 700;
  font-size: 1rem;
  margin-block-end: 2px;
}

.product-card__original-price {
  color: hsl(var(--dark-grayish-blue));
  font-weight: 700;
  font-size: 1rem;
  text-decoration: line-through;
  letter-spacing: 0.5px;
}

.product-card__quantity-selector {
  background-color: hsl(var(--light-grayish-blue));
  inline-size: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: var(--md);
  padding-inline: var(--xl);
  border-radius: var(--sm);
  margin-block: var(--xxs);
  block-size: fit-content;
}

.button--subtract {
  justify-content: start;
  fill: hsl(var(--orange));
  transition: fill 0.3s ease-out;
}

.button--add {
  justify-content: end;
  fill: hsl(var(--orange));
  transition: fill 0.3s ease-out;
}

.button:hover.button--add {
  fill: hsl(var(--blue));
}

.button:hover.button--subtract {
  fill: hsl(var(--blue));
}

.product__card-quantity {
  color: hsl(var(--very-dark-blue));
  font-weight: 700;
  font-size: 1rem;
}

.button__cart-icon {
  transform: scale(0.85);
  fill: hsl(var(--very-dark-blue));
}

.hidden {
  display: none;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.dim-overlay {
  position: fixed;
  inset-inline-start: 0;
  inset-block-start: 0;
  background-color: hsl(var(--black) / 0.75);
  z-index: 3;
}