/* kumbh-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/kumbh-sans-v27-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* kumbh-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/kumbh-sans-v27-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  /* Colors */
  --blue: 190 70% 60%;
  --orange: 26 100% 55%;
  --pale-orange: 25 100% 94%;
  --very-dark-blue: 220 13% 13%;
  --dark-grayish-blue: 219 9% 45%;
  --light-grayish-blue: 223 64% 98%;
  --white: 0 0% 100%;
  --black: 0 0% 0%; /* 75% opacity for lightbox bg */

  /* Typography */
  --font-sans: 'Kumbh Sans', system-ui, sans-serif;
  /* Weights: 400, 700 */

  /* Sizes */
  --xxs: 0.25rem;
  --xs: 0.5rem;
  --sm: 0.75rem;
  --md: 1rem;
  --lg: 1.25rem;
  --xl: 1.5rem;
  --xxl: 1.75rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  line-height: 0;
}

html, body, main, .dim-overlay {
  inline-size: 100dvi;
  min-block-size: 100dvb;
}

html {
  font-family: var(--font-sans);
  font-size: 16px;
}

body {
  position: relative;
  background-color: hsl(var(--white));
}

header {
  position: sticky;
  inset-block-start: 0;
  inline-size: 100dvi;
  z-index: 3;
  background-color: hsl(var(--white));
}

.button {
  all: unset;
  cursor: pointer;
  background-color: hsl(var(--orange));
  inline-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: var(--lg);
  border-radius: var(--sm);
  color: hsl(var(--very-dark-blue));
  font-weight: 700;
  gap: var(--md);
  transition: background-color 0.3s ease-out, box-shadow 0.3s ease-out;
}

.button.button--primary:hover {
  background-color: hsl(var(--blue));
}

.button--shadow {
  box-shadow: 0px 30px 15px -10px hsl(var(--pale-orange));
}

.nav {
  background-color: hsl(var(--white));
  display: flex;
  flex-direction: row;
  padding: var(--lg);
  padding-inline: var(--xl);
  justify-content: space-between;
  align-items: center;
}

.nav__menu {
  position: fixed;
  background-color: hsl(var(--white));
  block-size: 100dvb;
  inline-size: 66dvi;
  inset-inline-start: 0;
  inset-block-start: 0;
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
  padding: var(--xl);
  list-style: none;
  z-index: 4;
}

.nav__menu-close-icon {
  margin-block-end: var(--lg);
}

.nav__menu-item {
  color: hsl(var(--very-dark-blue));
  text-decoration: none;
  font-weight: 700;
  font-size: 1.1rem
}

.button--menu {
  display: flex;
  gap: var(--md);
  align-items: center;
  padding-block-start: 0;
  padding-block-end: var(--xs);
  background: none;
  justify-content: start;
  inline-size: fit-content;
}

.button--close-menu {
  background: none;
  display: block;
  padding: 0;
  inline-size: fit-content;
}

.button--profile, .button--cart, .button--subtract, .button--add {
  padding: 0;
  background: none;
}

.nav__menu-icon {
  padding-block-start: var(--xxs);
  height: 19px;
}

.nav__profile {
  display: flex;
  align-items: center;
  gap: var(--lg);
}

.nav__pfp {
  width: 25px;
  height: auto;
  border-radius: 50%;
}

.card__preview-images {
  list-style-type: none;
}

.card__image-preview {
  position: relative;
}

.card__preview-image {
  width: 100dvi;
  height: 300px;
  object-fit: cover;
}

.button--previous, .button--next {
  background-color: hsl(var(--white));
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  inset-block-start: 50%;
  transform: translateY(-50%);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 0;
}

.button--previous {
  inset-inline-start: var(--md);
}

.button--next {
  inset-inline-end: var(--md);
}

.card__previous-image-icon, .card__next-image-icon {
  transform: scale(calc(2 / 3));
}

.product-card {
  padding: var(--xl);
  display: flex;
  flex-direction: column;
  gap: var(--sm);
}

.product-card__company-name {
  font-size: 0.75rem;
  font-weight: 700;
  color: hsl(var(--dark-grayish-blue));
  letter-spacing: 2px;
}

.product-card__heading {
  font-size: 1.75rem;
  line-height: 1.1;
  font-weight: 700;
  color: hsl(var(--very-dark-blue));
  margin-block-end: var(--xs);
}

.product-card__description {
  font-size: 0.95rem;
  color: hsl(var(--dark-grayish-blue));
  font-weight: 400;
  line-height: 1.6;
}

.product-card__price-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: var(--sm);
}

.product-card__discount-bundle {
  display: flex;
  gap: var(--sm);
}

.product-card__discounted-price {
  color: hsl(var(--very-dark-blue));
  font-weight: 700;
  font-size: 1.8rem;
  letter-spacing: 1px;
}

.product-card__discount {
  color: hsl(var(--light-grayish-blue));
  background-color: hsl(var(--very-dark-blue));
  height: max-content;
  padding-inline: 0.6rem;
  padding-block: 0.2rem;
  align-self: end;
  border-radius: 0.3rem;
  font-weight: 700;
  font-size: 1rem;
  margin-block-end: 2px;
}

.product-card__original-price {
  color: hsl(var(--dark-grayish-blue));
  font-weight: 700;
  font-size: 1rem;
  text-decoration: line-through;
  letter-spacing: 0.5px;
}

.product-card__quantity-selector {
  background-color: hsl(var(--light-grayish-blue));
  inline-size: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: var(--md);
  padding-inline: var(--xl);
  border-radius: var(--sm);
  margin-block: var(--xxs);
  block-size: fit-content;
}

.button--subtract {
  justify-content: start;
  fill: hsl(var(--orange));
  transition: fill 0.3s ease-out;
}

.button--add {
  justify-content: end;
  fill: hsl(var(--orange));
  transition: fill 0.3s ease-out;
}

.button:hover.button--add {
  fill: hsl(var(--blue));
}

.button:hover.button--subtract {
  fill: hsl(var(--blue));
}

.product__card-quantity {
  color: hsl(var(--very-dark-blue));
  font-weight: 700;
  font-size: 1rem;
}

.button__cart-icon {
  transform: scale(0.85);
  fill: hsl(var(--very-dark-blue));
}

.dim-overlay {
  position: fixed;
  inset-inline-start: 0;
  inset-block-start: 0;
  background-color: hsl(var(--black) / 0.75);
  z-index: 3;
}

.cart {
  position: absolute;
  background-color: hsl(var(--white));
  inset-block-start: calc(100% + var(--xs));
  inset-inline-start: var(--xs);
  inline-size: calc(100% - var(--md));
  block-size: 68dvi;
  border-radius: var(--xs);
  display: flex;
  flex-direction: column;
  box-shadow: 0px 35px 25px -20px hsl(var(--black) / 0.2);
}

.cart__heading {
  color: hsl(var(--very-dark-blue));
  font-weight: 700;
  padding-block-start: var(--lg);
  padding-block-end: var(--xxl);
  padding-inline: var(--xl);
  border-bottom: 1px solid hsl(var(--dark-grayish-blue) / 0.2);
}

.cart__basket {
  block-size: 100%;
  padding-block: var(--lg);
  padding-inline: var(--xl);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart__empty-text {
  padding-block-end: var(--md);
  color: hsl(var(--dark-grayish-blue));
  font-weight: 700;
}

.button__cart-button-icon {
  fill: hsl(var(--dark-grayish-blue));
}

.button--thumbnail {
  background: none;
  padding: 0;
  border-radius: var(--sm);
  inline-size: fit-content;
  block-size: fit-content;
  transition: opacity 0.2s ease-out;
}

.button--thumbnail:not(.active-button):hover {
  opacity: 0.5;
}

.card__thumbnail {
  inline-size: 100%;
  border-radius: var(--sm);
}

/* Utility Classes */

.hidden {
  display: none;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.active-button {
  border: 2px solid hsl(var(--orange));
}

.active-image {
  opacity: 0.25;
}

.card__image-selector {
  display: none;
}

.product-card__checkout-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--md);
}

/* Media Queries */

@media (min-width: 50rem) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    block-size: 20dvb;
  }

  header, .card {
    max-inline-size: 77dvi;
  }

  header {
    padding-block-start: var(--xxs);
    padding-block-end: var(--sm);
    border-bottom: 2px solid hsl(var(--dark-grayish-blue) / 0.2);
  }

  .nav {
    padding-inline: 0;
  }

  .nav__pfp {
    width: 50px;
  }

  .nav__profile {
    gap: 3rem;
  }

  .button--add, .button--subtract {
    block-size: 100%;
  }

  .product-card__checkout-wrapper {
    flex-direction: row;
    gap: var(--md);
    align-items: center;
    block-size: fit-content;
  }

  .product-card__quantity-selector {
    inline-size: 55%;
    block-size: 60px;
    margin: 0;
    padding-inline: var(--md);
    align-items: center;
  }

  .card {
    padding-block: 5.5rem;
    padding-inline: 3rem;
    display: flex; 
    gap: 8rem;
    min-block-size: 0;
    block-size: fit-content;
  }

  .card__image-selector {
    display: flex;
    flex-direction: row;
    gap: var(--xxl);
    list-style: none;
  }

  .card__image-preview {
    inline-size: 100%;
    block-size: fit-content;
    display: flex;
    flex-direction: column;
    gap: 2.25rem;
    flex: 1;
  }

  .product-card {
    block-size: fit-content;
    flex: 1;
    padding-block: 4rem;
    padding-inline: 0;
  }

  .card__preview-image {
    width: 100%;
    height: auto;
    object-fit: fill;
    object-position: center;
    border-radius: var(--md);
  }

  .nav__menu-icon, .button--previous, .button--next {
    display: none;
  }

  .product-card__company-name {
    letter-spacing: 3px;
  }
  
  .product-card__heading {
    font-size: 2.65rem;
    margin-block-end: var(--xxl);
  }

  .product-card__price-wrapper {
    flex-direction: column;
    align-items: start;
    gap: var(--md);
  }

  .product-card__description {
    font-size: 1rem;
  }

  .button--shadow {
    box-shadow: none;
  }

  .nav__menu {
    display: flex;
    position: static;
    block-size: 100%;
    inline-size: auto;
    flex-direction: row;
    gap: var(--xl);
    padding: 0;
    align-items: center;
    margin-inline-end: auto;
    margin-inline-start: var(--xl);
    margin-block-end: var(--xs);
  }

  .nav__menu-item {
    color: hsl(var(--dark-grayish-blue));
    font-weight: 400;
    font-size: 1rem;
    transition: color 0.3s ease-out;
  }

  .nav__menu-item:hover {
    color: hsl(var(--blue));
  }

  .button--close-menu {
    display: none;
    order: -1;
  }

  .nav__pfp:hover {
    border: 2px solid hsl(var(--orange));
  }
}