/* karla-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/static/karla-v33-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* karla-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/static/karla-v33-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  /* Colors */
  --green-200: 148 38% 91%;
  --green-600: 169 82% 27%;
  --red: 0 66% 54%;
  --white: 0 0% 100%;
  --grey-500: 186 15% 59%;
  --grey-900: 187 24% 22%;

  /* Typography */
  --fonts-sans: 'karla', system-ui, sans-serif;
  /* Weights: 400, 700 */

  /* Sizes */
  --size-xxs: 0.5rem;
  --size-xs: 0.75rem;
  --size-sm: 1rem;
  --size-md: 1.5rem;
  --size-lg: 2rem;
  --size-xl: 2.5rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: var(--fonts-sans);
}

html, body {
  inline-size: 100dvi;
  min-block-size: 100dvb;
}

body {
  background-color: hsl(var(--green-200));
  padding-inline: var(--size-sm);
  padding-block: var(--size-lg);
  display: flex;
}

.form {
  inline-size: 100%;
  background-color: hsl(var(--white));
  border-radius: var(--size-sm);
  padding: var(--size-md);
  display: flex;
  flex-direction: column;
  gap: var(--size-md);
}

.form__title {
  font-size: 1.9rem;
  font-weight: 700;
  color: hsl(var(--grey-900));
  margin-block-end: var(--size-xxs);
}

.form__fieldset {
  all: unset;
  display: flex;
  flex-direction: column;
  gap: var(--size-md);
}

.form__legend {
  color: hsl(var(--grey-900));
  margin-block-end: var(--size-sm);
}

.form__required {
  color: hsl(var(--green-600));
  margin-inline-start: var(--size-xxs);
}

.form__fieldset--radio {
  gap: var(--size-sm);
}

.form__label {
  display: flex;
  flex-direction: column;
  gap: var(--size-xxs);
  color: hsl(var(--grey-900));
  font-weight: 400;
  font-size: 1rem;
}

.form__label--radio {
  flex-direction: row;
  align-items: center;
  border: 1px solid hsl(var(--grey-500));
  border-radius: var(--size-xxs);
  padding-block: var(--size-sm);
  padding-inline: var(--size-md);
  font-size: 1.1rem;
  font-weight: 400;
  gap: var(--size-md);
  cursor: pointer;
}

.form__input {
  border: 1px solid hsl(var(--grey-500));
  border-radius: var(--size-xxs);
  inline-size: 100%;
  font-size: 1.1rem;
  font-weight: 400;
  color: hsl(var(--grey-900));
  padding-inline: var(--size-md);
  padding-block: var(--size-sm);
  cursor: pointer;
}

.form__input--radio {
  inline-size: fit-content;
  transform: scale(1.4);
}

.form__text-area {
  all: unset;
  box-sizing: border-box;
  border: 1px solid hsl(var(--grey-500));
  border-radius: var(--size-xxs);
  padding-inline: var(--size-md);
  padding-block: var(--size-sm);
  font-size: 1.1rem;
  inline-size: 100%;
  block-size: 15rem;
  color: hsl(var(--grey-900));
  cursor: pointer;
}

.form__label--checkbox {
  flex-direction: row;
  gap: var(--size-sm);
  padding-inline: var(--size-xxs);
  padding-block: var(--size-md);
  cursor: pointer;
}

.form__input--checkbox {
  inline-size: fit-content;
  transform: scale(1.35);
}

button {
  border: none;
  border-radius: var(--size-xs);
  background-color: hsl(var(--green-600));
  color: hsl(var(--white));
  font-weight: 700;
  font-size: 1.15rem;
  padding: var(--size-sm);
  cursor: pointer;
}

.hidden {
  display: none;
}

.visually-hidden {
  position: absolute !important;
  width: 1px; height: 1px;
  margin: -1px; padding: 0; border: 0;
  overflow: hidden;
  clip-path: inset(50%);
  clip: rect(0 0 0 0);
  white-space: nowrap;
}
