/* karla-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/static/karla-v33-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* karla-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/static/karla-v33-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  /* Colors */
  --green-200: 148 38% 91%;
  --green-600: 169 82% 27%;
  --green-900: 164 86% 16%;
  --red: 0 66% 54%;
  --white: 0 0% 100%;
  --grey-500: 186 15% 59%;
  --grey-900: 187 24% 22%;

  /* Typography */
  --fonts-sans: 'karla', system-ui, sans-serif;
  /* Weights: 400, 700 */

  /* Sizes */
  --size-xxs: 0.5rem;
  --size-xs: 0.75rem;
  --size-sm: 1rem;
  --size-md: 1.5rem;
  --size-lg: 2rem;
  --size-xl: 2.5rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: var(--fonts-sans);
}

html, body, main {
  inline-size: 100dvi;
  min-block-size: 100dvb;
}

body {
  background-color: hsl(var(--green-200));
  padding-inline: var(--size-sm);
  padding-block: var(--size-lg);
  display: flex;
  position: relative;
}

.form {
  inline-size: 100%;
  background-color: hsl(var(--white));
  border-radius: var(--size-sm);
  padding: var(--size-md);
  display: flex;
  flex-direction: column;
  gap: var(--size-md);
}

.form__title {
  font-size: 1.9rem;
  font-weight: 700;
  color: hsl(var(--grey-900));
  margin-block-end: var(--size-xxs);
}

.form__fieldset {
  all: unset;
  display: flex;
  flex-direction: column;
  gap: var(--size-md);
}

.form__legend {
  color: hsl(var(--grey-900));
  margin-block-end: var(--size-sm);
}

.form__required {
  color: hsl(var(--green-600));
  margin-inline-start: var(--size-xxs);
}

.form__fieldset--radio {
  gap: var(--size-sm);
}

.form__label {
  display: flex;
  flex-direction: column;
  gap: var(--size-xxs);
  color: hsl(var(--grey-900));
  font-weight: 400;
  font-size: 1rem;
  inline-size: 100%;
}

.form__label--radio {
  position: relative;
  flex-direction: row;
  align-items: center;
  border: 1px solid hsl(var(--grey-500));
  border-radius: var(--size-xxs);
  padding-block: var(--size-sm);
  padding-inline: var(--size-md);
  font-size: 1.1rem;
  font-weight: 400;
  gap: var(--size-md);
  cursor: pointer;
}

.form__input {
  border: 1px solid hsl(var(--grey-500));
  border-radius: var(--size-xxs);
  inline-size: 100%;
  font-size: 1.1rem;
  font-weight: 400;
  color: hsl(var(--grey-900));
  padding-inline: var(--size-md);
  padding-block: var(--size-sm);
  cursor: pointer;
  transition: border-color 0.3s ease-out;
}

.form__input:hover {
  border-color: hsl(var(--green-600));
}

.form__input--radio {
  inline-size: fit-content;
  transform: scale(1.4);
}

.form__radio-button {
  width: 20px;
  height: 21px;
  position: absolute;
  inset-inline-start: calc(var(--size-md) - 3px);
  background-image: url("../images/icon-radio-selected.svg");
  display: none;
}

.form__input--radio:checked + .form__radio-button {
  display: block;
}

.form__label--radio:has(.form__input--radio:checked) {
  border-color: hsl(var(--green-600));
  background-color: hsl(var(--green-200));
}

.form__radio-options {
  display: flex;
  flex-direction: column;
  gap: var(--size-sm);
}

.form__text-area {
  all: unset;
  box-sizing: border-box;
  border: 1px solid hsl(var(--grey-500));
  border-radius: var(--size-xxs);
  padding-inline: var(--size-md);
  padding-block: var(--size-sm);
  font-size: 1.1rem;
  inline-size: 100%;
  block-size: 15rem;
  color: hsl(var(--grey-900));
  cursor: pointer;
  overflow-wrap: break-word;
}

.form__label--checkbox {
  flex-direction: row;
  gap: var(--size-sm);
  padding-inline: var(--size-xxs);
  padding-block: var(--size-md);
  cursor: pointer;
  position: relative;
}

.form__checkbox-wrapper {
  position: absolute;
  inset-inline-start: 0;
  inset-block-start: 0;
  block-size: 100%;
  inline-size: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__consent-error {
  margin-block-start: calc(-1 * var(--size-lg));
}

.form__input--checkbox {
  inline-size: fit-content;
  transform: scale(1.35);
}

.form__checkbox {
  width: 18px;
  height: 18px;
  background-image: url("../images/icon-checkbox-check.svg");
  display: none;
}

.form__input--checkbox:checked + .form__checkbox-wrapper .form__checkbox {
  display: block;
}

.form__input--checkbox:checked, .form__input--radio:checked {
  visibility: hidden;
}

.button {
  border: none;
  border-radius: var(--size-xs);
  background-color: hsl(var(--green-600));
  color: hsl(var(--white));
  font-weight: 700;
  font-size: 1.15rem;
  padding: var(--size-sm);
  cursor: pointer;
  transition: background-color 0.2s ease-out;
}

.button:hover {
  background-color: hsl(var(--green-900));
}

.form__success {
  position: fixed;
  background-color: hsl(var(--grey-900));
  border-radius: var(--size-xxs);
  padding: var(--size-md);
  inline-size: 20rem;
  max-inline-size: 90%;
  transform: translateX(-50%); 
  inset-inline-start: 50%;
  inset-block-start: 2rem;
}

.form__success-heading {
  display: flex;
  align-items: center;
  gap: var(--size-xxs);
  margin-bottom: var(--size-xs);
}

.form__success-title {
  color: hsl(var(--white));
  font-weight: 700;
}

.form__success-message {
  color: hsl(var(--white));
  font-weight: 400;
}

.form__required-message {
  color: hsl(var(--red));
  font-weight: 400;
  font-size: 1rem;
}

.form__input-name {
  display: flex;
  flex-direction: column;
  gap: var(--size-md);
}

.required {
  border-color: hsl(var(--red));
}

.hidden {
  display: none;
}

.visually-hidden {
  position: absolute !important;
  width: 1px; height: 1px;
  margin: -1px; padding: 0; border: 0;
  overflow: hidden;
  clip-path: inset(50%);
  clip: rect(0 0 0 0);
  white-space: nowrap;
}

@media (min-width: 40rem) {
  body, main {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  body {
    padding: 0;
  }

  .form {
    max-inline-size: 46rem;
    block-size: 20%;
    padding: var(--size-xl);
    margin-block: 8rem;
  }

  .form__radio-options {
    flex-direction: row;
  }

  .form__input-name {
    flex-direction: row;
  }

  .form__text-area {
    max-block-size: 7rem;
  }
}