@use 'fonts';

:root {
  /* Colors */
  --neutral-900: 0 0% 7%;
  --neutral-800: 0 0% 15%;
  --neutral-500: 240 3% 46%;
  --neutral-400: 240 1% 59%;
  --neutral-0: 0 0% 100%;

  --blue-600: 214 100% 55%;
  --blue-400: 210 100% 65%;

  --red-500: 354 63% 57%;

  --green-500: 140 63% 57%;

  --yellow-400: 49 85% 70%;

  /* Spacing */
  --spacing-0: 0;
  --spacing-25: 2px;
  --spacing-50: 4px;
  --spacing-75: 6px;
  --spacing-100: 8px;
  --spacing-125: 10px;
  --spacing-150: 12px;
  --spacing-200: 16px;
  --spacing-250: 20px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;
  --spacing-600: 48px;
  --spacing-800: 64px;
  --spacing-1000: 80px;
  --spacing-1200: 96px;
  --spacing-1400: 112px;
  --spacing-1600: 128px;
  --spacing-1800: 140px;

  /* Radius */
  --radius-0: 0;
  --radius-4: 4px;
  --radius-6: 6px;
  --radius-8: 8px;
  --radius-10: 10px;
  --radius-12: 12px;
  --radius-16: 16px;
  --radius-20: 20px;
  --radius-24: 24px;
  --radius-full: 999px;

  /* Typography */
  --font-sans: 'Sora', system-ui, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: var(--font-sans);
  font-size: 16px;
}