@use "assets/styles/fonts";
@use "assets/styles/components";

:root {
  /* Colors */
  --neutral-50: oklch(1 0 0);
  --neutral-100: oklch(0.8294 0 0);
  --neutral-200: oklch(0.6996 0 0);
  --neutral-300: oklch(0.3878 0.0023 286.29);
  --neutral-400: oklch(0.3608 0 0);
  --neutral-500: oklch(0.3008 0 0);
  --neutral-600: oklch(0.245 0.0037 286.12);
  --neutral-700: oklch(0.2011 0.0036 286.07);
  --neutral-900: oklch(0.1457 0 0);
  --lime-500: oklch(0.9199 0.2016 119.92);
  --lime-800: oklch(0.3 0.0727 121.88);
  --green-500: oklch(0.8214 0.2669 140.59);
  --red-500: oklch(0.6619 0.2247 25.86);

  /* Typography */
  --primary-font: "JetBrains Mono", system-ui, monospace;

  /* Spacing */
  --spacing-0: 0px;
  --spacing-025: 2px;
  --spacing-050: 4px;
  --spacing-075: 6px;
  --spacing-100: 8px;
  --spacing-125: 10px;
  --spacing-150: 12px;
  --spacing-200: 16px;
  --spacing-250: 20px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;
  --spacing-600: 48px;
  --spacing-800: 64px;
  --spacing-1000: 80px;
  --spacing-1200: 96px;
  --spacing-1400: 112px;
  --spacing-1600: 128px;
  --spacing-1800: 140px;

  /* Radius */
  --radius-0: 0px;
  --radius-4: 4px;
  --radius-6: 6px;
  --radius-8: 8px;
  --radius-10: 10px;
  --radius-12: 12px;
  --radius-16: 16px;
  --radius-20: 20px;
  --radius-24: 24px;
  --radius-full: 999px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--primary-font);
}

html,
body {
  inline-size: 100dvi;
  min-block-size: 100dvb;
}

body {
  background-color: var(--neutral-900);
  color: var(--neutral-50);
}

/* Remove number input spinner */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}
